<style>
    .price-box {
        display: flex;
        flex-flow: column;
        align-items: end;
        padding: 10px;
        border: 2px solid;
        border-radius: 15px;
        margin-bottom: 20px;
        width: 180px;
    }

    .price-box:hover {
        color: var(--black);
        background-color: var(--white);
    }

    .prices-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .hidden {
        display: none;
    }
</style>

{{ define "prices-list"}}
<div>
    {{range $i, $ex := . }}
    <a class="price-box {{if gt $i 2}} to-hide hidden {{end}}" href="{{$ex.URL}}" target="_blank">
        <span>{{$ex.Name}}</span>
        <span>S/{{$ex.Price}}</span>
    </a>
    {{end}}
</div>
{{ end }}

<script>
    function togglePrices(id) {
        const pricesToHide = document.getElementById(id).querySelectorAll('.to-hide');
        pricesToHide.forEach(price => {
            price.classList.toggle('hidden');
        });
        if (event.target.innerText === 'more') {
            event.target.innerText = 'less';
        } else {
            event.target.innerText = 'more';
        }
    }
</script>

<!-- main html -->
<div id="selling" class="prices-list">
    <h2>Best places to sell</h2>
    {{ template "prices-list" .Selling }}
    <button onclick="togglePrices('selling')">more</button>
</div>
<div id="buying" class="prices-list">
    <h2>Best places to buy</h2>
    {{ template "prices-list" .Buying }}
    <button onclick="togglePrices('buying')">more</button>
</div>