{{ block "prices-list" .}}
<style>
    a {
        display: block;
        width: 100%;
    }

    a:hover {
        background-color: #ccc;
    }

    li {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 20%;
    }
</style>
<ul>
    {{range $i, $ex := . }}
    <li>
        <a href="{{$ex.URL}}" target="_blank" class="name">
            <img class="icon" src="{{$ex.Logo}}" alt="{{$ex.Name}} icon">
            {{$ex.Name}}
            <span class="price">${{$ex.Price}}</span>
        </a>
    </li>
    {{end}}
</ul>
{{ end }}