<style>
    .price-box {
        display: flex;
        flex-flow: column;
        align-items: end;
        padding: 10px;
        border: 2px solid;
        border-radius: 15px;
        margin-bottom: 20px;
        width: 180px;
    }

    .price-box:hover {
        color: var(--black);
        background-color: var(--white);
    }

    .prices-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
</style>

{{ define "prices-list"}}
<div>
    {{range $i, $ex := . }}
    <a class="price-box" href="{{$ex.URL}}" target="_blank">
        <span>{{$ex.Name}}</span>
        <span>S/{{$ex.Price}}</span>
    </a>
    {{end}}
</div>
{{ end }}

<!-- main html -->
<div class="prices-list">
    <h2>Best places to sell</h2>
    {{ template "prices-list" .Selling }}
</div>
<div class="prices-list">
    <h2>Best places to buy</h2>
    {{ template "prices-list" .Buying }}
</div>